name: Check Pull Request
on:
  pull_request:
    branches: [ main ]
jobs:
  build-test:
    permissions:
      contents: read
      pull-requests: read
    runs-on: ubuntu-latest
    name: "Build"

    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1

    - name: Set up JDK 17
      uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e #v5.1.0
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Cache Maven packages
      uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb #v5.0.1
      with:
        path: ~/.m2/repository
        key: maven-${{ hashFiles('**/pom.xml') }}

    - name: Build
      run: |
        ./mvnw -B clean verify
        echo "```" >> $GITHUB_STEP_SUMMARY
        ./mvnw -B versions:display-property-updates | sed -n '/updates are available/, /\[INFO\]\s*$/p' | sed -e 's/\[INFO\] //g' >> $GITHUB_STEP_SUMMARY
        echo "```" >> $GITHUB_STEP_SUMMARY

