name: Release Artifact
on:
  workflow_dispatch:
    inputs:
      release_version:
        description: 'Version number of the release'
        required: true
env:
  RELEASE_VERSION: ${{ github.event.inputs.release_version }}
jobs:
  build-and-release:
    permissions:
      contents: write
      actions: read
      issues: write
      pull-requests: write
    runs-on: ubuntu-latest
    name: "Build and release"

    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1

    - name: Set up JDK 17
      uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e #v5.1.0
      with:
        distribution: 'temurin'
        java-version: '17'
        server-id: central
        server-username: MAVEN_CENTRAL_USERNAME
        server-password: MAVEN_CENTRAL_PASSWORD
        gpg-private-key: ${{ secrets.PGP_KEY }}
        gpg-passphrase: PGP_KEY_PASSWORD
        overwrite-settings: false

    - name: Build artifact and release to Maven Central
      run: |
        set -x
        ./mvnw -B versions:set -DnewVersion=${RELEASE_VERSION}
        ./mvnw -B versions:commit
        ./mvnw -B -U clean deploy -Psign,release-build
      env:
        PGP_KEY_PASSWORD: ${{ secrets.PGP_KEY_PASSWORD }}
        MAVEN_CENTRAL_USERNAME: ${{ secrets.CENTRAL_SONATYPE_TOKEN_USERNAME }}
        MAVEN_CENTRAL_PASSWORD: ${{ secrets.CENTRAL_SONATYPE_TOKEN_PASSWORD }}

    # If the deployment to Maven Central went through, the following steps will
    # - Commit updated version to release branch
    # - Create Github release

    - name: Commit version changes and push to upstream repository
      uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # v7.1.0
      with:
         branch: main
         commit_user_name: github-actions
         commit_user_email: github-actions@github.com
         commit_author: Actions <actions@github.com>
         commit_message: "Set to version ${{ env.RELEASE_VERSION }}"
         file_pattern: 'pom.xml'

    - name: Create GitHub release
      uses: softprops/action-gh-release@de2c0eb89ae2a093876385947365aca7b0e5f844 # v0.1.15
      with:
        body: "Create Github release"
        tag_name: v${{ env.RELEASE_VERSION }}
        target_commitish: main
        draft: false
        prerelease: false
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN  }}

    - name: Reset version to DEV-SNAPSHOT
      run: |
        set -x
        ./mvnw -B versions:set -DnewVersion=DEV-SNAPSHOT
        ./mvnw -B versions:commit

    - name: Commit version changes and push to upstream repository
      uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # v7.1.0
      with:
         branch: main
         commit_user_name: github-actions
         commit_user_email: github-actions@github.com
         commit_author: Actions <actions@github.com>
         commit_message: "Set version to DEV-SNAPSHOT"
         file_pattern: 'pom.xml'

    - name: Print possible changes
      run: |
        echo "```" >> $GITHUB_STEP_SUMMARY
        ./mvnw -B versions:display-property-updates | sed -n '/updates are available/, /\[INFO\]\s*$/p' | sed -e 's/\[INFO\] //g' >> $GITHUB_STEP_SUMMARY
        echo "```" >> $GITHUB_STEP_SUMMARY

